* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: rgb(51, 51, 51);
}

button {
  font-family: "Mulish", sans-serif;
}

path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: flex;
  color: rgb(212, 212, 212);
}

.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.color h2 {
  font-size: 2rem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  opacity: 0;
  padding: 1rem;
  width: 80%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  pointer-events: none;
  /* ajustment class */
  transform: translateY(100px);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

.sliders button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: rgb(73, 73, 73);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.controls {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: rgb(31, 33, 63);
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 1rem;
}

.panel p {
  font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust,
.lock {
  font-size: 2rem;
  color: #000;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0rem;
}

/* Sliders */

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  height: 16px;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d;
}

.copy-container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5 ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.copy-popup {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  transition: transform 0.5s ease-in-out;
  transform: translatey(-1rem);
  min-width: 25%;
  min-height: 15vh;
}

.copy-popup h4 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.copy-popup h3 {
  font-size: 1.5rem;
  padding: 2rem;
}

.copy-container.active {
  pointer-events: all;
  opacity: 1;
}

.copy-popup.active {
  transform: translateY(0rem);
}
