* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: rgb(51, 51, 51);
  animation: loading 1.5s;
}

@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  font-family: "Mulish", sans-serif;
}

path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: flex;
  color: rgb(212, 212, 212);
}

.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.color h2 {
  font-size: 2rem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  opacity: 0;
  padding: 1rem;
  width: 80%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  pointer-events: none;
  /* ajustment class */
  transform: translateY(100px);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

.sliders button,
.close-save,
.close-library {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: rgb(73, 73, 73);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.close-library {
  padding: 0.8rem;
}

.controls {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: rgb(31, 33, 63);
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 1rem;
}

.panel p {
  font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust,
.lock {
  font-size: 2rem;
  color: #000;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0rem;
}

/* Sliders */

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  height: 16px;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d;
}

.copy-container,
.save-container,
.library-container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5 ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.copy-popup,
.save-popup,
.library-popup {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  transition: transform 0.5s ease-in-out;
  transform: translateY(-1rem);
  min-width: 25%;
  min-height: 15vh;
}

.library-popup {
  transform: translateY(-0.2rem);
}

.copy-popup h4,
.save-popup h4,
.library-popup h4 {
  font-size: 1.5rem;
  padding: 2rem;
}

.copy-popup h3 {
  font-size: 1.5rem;
  padding: 2rem;
}

.copy-container.active,
.save-container.active,
.library-container.active {
  pointer-events: all;
  opacity: 1;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
  transform: translateY(0rem);
}

.save-name {
  font-size: 1.2rem;
  padding: 0.7rem;
}

.submit-save {
  padding: 1rem 2rem;
  margin: 1rem 1rem 1.5rem 1rem;
  background: rgb(33, 47, 168);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.library-popup {
  min-width: 40%;
  padding: 1rem;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 50vh;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.custom-palette {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem 2rem 0rem 2rem;
}

.custom-palette::after {
  content: "";
  position: absolute;
  width: 80%;
  padding-top: 21%;
  margin-left: 4%;
  border-top: 2px solid black;
  z-index: -5;
}

.small-preview {
  display: flex;
  flex: 1;
}

.custom-palette h4 {
  flex: 1;
}

.small-preview div {
  height: 3rem;
  width: 3rem;
  flex: 1;
  margin: 1px;
}

.pick-palette-btn {
  display: flex;
  height: 3rem;
  border: 2px solid black;
  border-radius: 0.3rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  background: rgba(128, 128, 128, 0.342);
  color: black;
  text-align: center;
  align-items: center;
  margin-left: 1rem;
}

.pick-palette-btn:hover,
.pick-palette-btn:active {
  transition: 0.2s ease-in;
  background: rgba(128, 128, 128, 0.795);
}
